<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/create-tournament.css">
    <link rel="stylesheet" href="/assets/CSS/reset.css">

    <title>Document</title>
</head>
<style>
 .nameTeams{
     display: none;
 }
</style>
<body>
    {% include 'header.html'%}
    <div class="container">
        <h1 class="title">Create a tournament :</h1>
        <form action="/admin/tournament/create" method="POST" class="form">
            <p class="chooseTitle">Choose a name for your tournament</p><input type="text" placeholder="name" name="name" class="nameinput">
            <br>
            <p class="choose chooseBold">Choose Teams :</p>
            
            <div class="equipe">
                
            </div>
            <p class="choose">How many teams :</p>
                <input type="submit" value="Create tournament" class="create">
        </form>

        <form action="" class="nb_teams">
            <select class="nb">
                <option value="2">2 teams</option>
                <option value="4">4 teams</option>
                <option value="6">6 teams</option>
                <option value="8">8 teams</option>
            </select>
            <input type="submit" value="Valid" class="create2">
        </form> 
        
        {% for value in teams %}
            <div class="nameTeams">{{value.name}}</div>
        {%endfor%}
    </div>
</body>
<script>
    let form = document.querySelector('.form')
    let form_nb = document.querySelector('.nb_teams')
    let nameTeams = document.querySelectorAll('.nameTeams')
    let div = document.querySelector('.equipe')
    let nameinput = document.querySelector('.nameinput')
    console.log(nameTeams.lenght);
    // for (let y = 0; y < nameTeams.length; y++) {
    //     console.log(nameTeams[y].textContent);
    // }

    form_nb.addEventListener('submit', function(e){
        e.preventDefault()
        div.innerHTML = ""
        for (let i = 0; i < form_nb[0].value; i++) { 
            let select = document.createElement('select')
            select.classList.add('teamChoose')
            for (let x = 0; x < nameTeams.length; x++) {
                let option = document.createElement('option')
                option.value = nameTeams[x].textContent
                option.innerText = nameTeams[x].textContent
                select.appendChild(option)
                div.appendChild(select)
                select.name = "teamChosen[]"
            }
            
        }
    })
</script>
</html>