<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/header.css">
    <!-- <link rel="stylesheet" href="/assets/CSS/reset.css"> -->
    <title>Document</title>
</head>
<body>
    <section class="header">
        <ul class="list">
           <a href="/tournament/list"><li>List Tournament</li></a> 
           <a href="/teams/all"><li>List Teams</li></a> 
           <a href="/login"><li>Login</li></a> 
           <a href="/register"><li>Register</li></a> 
           <a href="/classement/list"><li>List Classement</li></a> 
        </ul>
    </section>
</body>
</html>