body{
    font-family: sans-serif;
}

.list{
    display: flex;
    padding: 10px 0;
    background-color: rgb(73, 73, 73);
}
.list>a{
    text-decoration: none;
    list-style: none;
    color: white;
    background-color: rgb(68, 68, 246);
    padding:5px 10px;
    margin: 0 20px;
    border-radius: 10px;
}